<!-- app/views/pages/home.html.erb -->

<% if user_signed_in? %>
  <p>Welcome, <%= current_user.email %>!</p>

  <div>
    <%= link_to "View Your Sweepstakes", profile_path %>
  </div>

  <div>
    <%= link_to "Create a New Sweepstake", new_sweepstake_path %>
  </div>

  <div>
    <%= link_to "Your Profile", profile_path %>
  </div>

<% else %>
<div class='sign-in'>
  <p>Please <%= link_to "sign in", new_user_session_path %> to explore sweepstakes!</p>
  </div>
<% end %>
